body {
  background-color:black;
  background-image: url("");
}

h1 {
  font-family: sans-serif;
  color: white;
  font-size: 4.0em;
}

p {
  color: white;
  font-family: monospace;
  font-size: 2.0em;
}

button {
  background-color:blue;
  color:white;
  border-style:solid;
  border-color:white;
}

h3 {
  padding-top:2.0em;
  color:white;
  font-size:20px;
}

.weather {
  color:blue;
}

.weather1 {
  color:blue;
}